.App {
  text-align: center;
}

.label {
  margin-bottom: 0.5rem;
  font-weight: lighter
}

.thick {
  margin-bottom: 0.5rem;
  font-weight: bolder;
}

.small-label {
  padding-top: 8px;
  margin-bottom: 0.5rem;
  font-weight: lighter;
  font-size: 12px;
}